*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  hanging-punctuation: first allow-end;
}

body {
  min-height: 100dvh;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: var(--main-bg);
  font-family: var(--ff);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}

button {
  &[disabled] {
    cursor: not-allowed;
  }
}

textarea {
  resize: vertical;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:where(h1, h2, h3, h4, h5, h6) {
  font-family: var(--ff-title);
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

:focus-visible {
  outline: 2px solid CanvasText;
  outline-offset: 2px;
}

#root {
  isolation: isolate;
  min-height: 100dvh;
}
